
ul, #myUL {
    list-style-type: none;
}

svg {
    overflow: visible;
}

.tooltip {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    background-color: #d3bfe8;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

.chartwrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.actioBarChart{
    display: flex;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.markLabel{
    font-size: 10px;
}
.markLabel90{
    transform: rotate(-270deg);
    display: table-row-group;
}
.sliderLabel{
    font-size: 8px;
    transform: rotate(90deg);
    display: table-row-group;
}

.actioBarChart button{
    margin: 5px;
    padding: 5px;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

.axis .tick text {
    font-size: 10px;
    font-weight: bold;
    fill: black;
}

.tooltip {
    opacity: 0;
}


.center {
    text-align: center;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

text {
    cursor: pointer;
    font-size: 12pt;
    font-weight: bolder;
    background-color: #ea8d74;
    fill: #179ed3;
    /*text-shadow: 0 1px 4px black;*/
    padding: 5px;
    margin-left: 5px;
}

div.custom-container {
    background-color: #242424;
}

svg.custom .node circle, circle {
    fill: #ea8d74;
    stroke: #ea8d74;
    stroke-width: 1.5px;
}

svg.custom .node text {
    font-size: 11px;
    background-color: #ea8d74;
    fill: #F4F4F4;
    text-shadow: 0 1px 4px black;
    padding: 5px;
}

svg.custom .node {
    cursor: pointer;
}

svg.custom path.link {
    /*fill: #935fcf;*/
    stroke: #935fcf;
    stroke-width: 1.2px;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}
