.slides .buttons{
    padding: 10px;
}
.slides .buttons *{
    margin: 5px;
}

.slides .container{
    min-height: 400px;
    height: 400px;
    background-color: #C9C9C9;
}

.button, button{
    background-color: #6eadaf;
    border: none;
    color: white;
    padding: 16px 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover, button:hover{
    opacity: 0.8;
    background-color: #2b3e40;
}
