.App {
    text-align: center;
}

* {
    font-family: 'lato';
    color: #707070;
}

.page-container {
    height: 90vh;
    /*width: 90vw;*/
    width: 414px;
    overflow: auto;
    position: relative;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}
.size10{
    font-size: 10px;
}
.size15{
    font-size: 15px;
}
.size25{
    font-size: 25px;
}

.bg {
    /*background-color: rgb(217, 236, 246);*/
    background-color: white;
}
.margin10{
    margin-top: 10px;
}
.margin15{
    margin-top: 15px;
}
.margin20{
    margin-top: 20px;
}
.margin25{
    margin-top: 2rem;
}
.margin30{
    margin-top: 5rem;
}

.xred{
    color: #ba5b28;
    font-weight: bolder;
}
.xgreen{
    color: #68ba31;
    font-weight: bolder;
}

::placeholder {
    color: #908d8d;
}

.btn {
    font-weight: bold;
    background-color: #3B286D;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 10px 10px 10px;
    width: 287px;
    line-height: 1.1;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.link {
    cursor: pointer;
}

.xtop {
    top: 0;
    display: inline-block;
}

.heading {
    font-weight: bold;
    font-size: 16px;
}

.label {
    font-size: 14px;
    text-align: left;
    font-weight: bolder;
}

.labelx {
    font-size: 16px;
    text-align: left;
    font-weight: bolder;
    text-decoration: underline;
}

input[type=text], input[type=date], input[type=password] {
    border: 0;
    background-color: transparent;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-border {
    border-bottom: 1px solid black;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

input[type=checkbox]{
    padding: 8px;
}

.checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    /*border-radius: 50%;*/
    vertical-align: middle;
    border: 2px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background-color: #3B286D;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #3B286D;
}

.apptext {
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(90deg, #89bf84, #5540b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.v-space {
    margin-top: 8px;
    margin-bottom: 12px;
}

.flexbox-2-row {
    text-align: center;
    justify-content: center;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));*/
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.cards > span, .cards > a {
    padding: 5px;
    margin: 3px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}


.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.atcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5c34aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ea1086;
}


